<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>SIVA_Arlimi_AppEngine</servlet-name>
		<servlet-class>siva.arlimi.servlet.SIVA_Arlimi_AppEngineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SIVA_Arlimi_AppEngine</servlet-name>
		<url-pattern>/siva_arlimi_appengine</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>eventregistration-servlet</servlet-name>
		<servlet-class>siva.arlimi.servlet.EventRegistrationServlet</servlet-class>
    </servlet>
    
	<servlet-mapping>
		<servlet-name>eventregistration-servlet</servlet-name>
		<url-pattern>/event/eventregistration</url-pattern>
	</servlet-mapping>
	
	 <servlet>
      <servlet-name>readEventList-servlet</servlet-name>
      <servlet-class>siva.arlimi.servlet.ReadEventListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
       <servlet-name>readEventList-servlet</servlet-name>
       <url-pattern>/event/readEventList</url-pattern>
  </servlet-mapping>
  
  <!-- SERVICE -->
  <servlet>
      <servlet-name>readAllServiceList-servlet</servlet-name>
      <servlet-class>siva.arlimi.service.ReadAllListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
       <servlet-name>readAllServiceList-servlet</servlet-name>
       <url-pattern>/service/readAllServiceList</url-pattern>
  </servlet-mapping> 
 	
	 <servlet>
      <servlet-name>readEventByID-servlet</servlet-name>
      <servlet-class>siva.arlimi.servlet.ReadEventByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
       <servlet-name>readEventByID-servlet</servlet-name>
       <url-pattern>/event/readEventByID</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>emailUserRegistration-servlet</servlet-name>
      <servlet-class>siva.arlimi.registration.servlet.EmailUserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>emailUserRegistration-servlet</servlet-name>
      <url-pattern>/user/reg/emailuser</url-pattern>
  </servlet-mapping>
  
   <servlet>
      <servlet-name>facebookUserRegistration-servlet</servlet-name>
      <servlet-class>siva.arlimi.registration.servlet.FacebookUserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>facebookUserRegistration-servlet</servlet-name>
      <url-pattern>/user/reg/facebookuser</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>facebookUserLogin-servlet</servlet-name>
      <servlet-class>siva.arlimi.login.servlet.FacebookUserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>facebookUserLogin-servlet</servlet-name>
      <url-pattern>/user/login/facebookuser</url-pattern>
  </servlet-mapping>
  
   <servlet>
      <servlet-name>emailUserLogin-servlet</servlet-name>
      <servlet-class>siva.arlimi.login.servlet.EmailUserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>emailUserLogin-servlet</servlet-name>
      <url-pattern>/user/login/emailuser</url-pattern>
  </servlet-mapping>
 
  <!-- Shop Registration -->
  <servlet>
      <servlet-name>shopRegistration-servlet</servlet-name>
      <servlet-class>siva.arlimi.shop.servlet.ShopRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>shopRegistration-servlet</servlet-name>
      <url-pattern>/shop/registration</url-pattern>
  </servlet-mapping>
  
  
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
